* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.region_container {
    margin-left: 5%;
    display: flex;
    align-items: top;
    justify-content: center;
    width: 90%;
}
.region_photos {
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 350px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.region_photos img {
    width: 450px;
    height: 280px;
    border-radius: 20px;
    transition: 0.5s ease;
}
.region_photos img:hover {
    box-shadow: 1px 2px 18px 6px rgba(0, 0, 0, 0.39);
}
.information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 67%;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    margin-bottom: 100px;
}
.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 800px;
    height: 550px;
    border-radius: 30px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 21px -1px rgba(33, 35, 37, 0.2) inset;
}
